body{
	background-color: blanchedalmond;
	margin: 0;
}

p{
	font-size: 30px:
	font-family: monospace;
}

img{
	border-radius: 1500px;
}

#image-wrapper {
	width: 250px;
	height: 250px;
	position: absolute;
	top: 0;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	cursor: pointer;
}

#image-wrapper:hover, .im-bear{
	opacity: 1;
}

#text-wrapper {
	width: 100%;
	height: auto;
	text-align: center;
	position: absolute;
	margin-top: 300px;
	
	background-color: rgba(0,0,0,0.5);
}

#im-bear {
	width: 200px;
	height: 50px;
	position: absolute;
	line-height: 50px;
	text-align: center;
	background-color: #2196f3;
	font-size: 18px;
	color: #eee;
	margin-left: 50%;
	margin-top: 200px;
	border-radius: 50px;
	opacity: 0;
	
	transition: ease;
}

#im-bear:hover, #image-wrapper{
	opacity: 1;
}

#page_footer {
	width: 100%;
	height: 50px;
	position: absolute;
	bottom: 0;
	margin-bottom: 20px;
	border-top: 2px solid #2196f3;
	border-bottom: 2px solid #2196f3;
	
	background-color: aquamarine;
}

.social_btn {
	width: 300px;
	height:100%;
	margin-left: auto;
	margin-right: auto;
}

.user_text {
	line-height: 50px;
	font-size: 16px;
	text-align: center;
	
	color: darkslategray;
}





#nav {
	width:100%;
	height:400px;
	background: black;
	
}

#nav_wrapper{
	height: 100px;
	width: 700px;
	background-color: navajowhite;
	margin-left:auto;
	margin-right:auto;
	margin-top: none;
	opacity: 0.7;
	filter: alpha (opacity=60);
	
}


#nav_wrapper ul li{
	list-style: none;
	display: inline;
	font-weight: bold;
	padding: 10px;
}

#nav_wrapper a{
	color:white;
	text-decoration:none;
	padding: 10px;
	
}

#nav_wrapper ul li: hover{
	background: black;
	transition: all 0.45s;
	
}